
body {
  font-family: sans-serif;
  background: #fff;
  color: #222;
  padding: 2rem;
}
.card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  background: #f2fcfc;
}
.card-img {
  background: #ccf;
  width: 100%;
  height: 150px;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 150px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #006699;
}
